{% extends 'base.html' %}

{% block content %}


<body>


    <header>
        <div class="container">
            <div class="h_up">
                <div class="h_up_logo">

                </div>
                <ul class="h_up_menu">
                    <li class="h_up_menu_link">
                        Каталог
                    </li>
                    <li class="h_up_menu_link">
                        Расчет стоимости
                    </li>
                    <li class="h_up_menu_link">
                        Партнеры
                    </li>
                    <li class="h_up_menu_link">
                        Отзывы
                    </li>

                </ul>
                <div class="h_up_active">
                    <div class="h_up_active">
                        <div class="h_up_active_icon"></div>
                        <div class="h_up_active_text">
                            <p class="h_up_active_text_name">Москва</p>
                            <a class="h_up_active_text_link">Все города</a>
                        </div>

                    </div>
                    <div class="h_up_active">
                        <div class="h_up_active_iconp"></div>
                        <div class="h_up_active_text">
                            
                            <p class="h_up_active_text_name">8-985-344-76-46</p>
                            <a href="tel:+7 985 344 76 46" type="phone" class="h_up_active_text_link2">Заказать звонок</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="h_down">
            <div class="container">
                <div class="h_down_main">
                    <div class="h_down_main_title">
                        Краб - система
                    </div>
                    <div class="h_down_main_text">
                        Для быстровозводимых
                        каркасных конструкций
                    </div>
                    <a class="h_down_main_btn">
                        Получить консультацию
                    </a>
                </div>
            </div>

        </div>

    </header>
    <section class="plus">
        <div class="container">
            <div class="plus_main">
                <div class="plus_main_title">
                    ПРЕИМУЩЕСТВА СИСТЕМЫ
                </div>
                <div class="plus_main_items">
                    <div class="double">
                        <div class="plus_main_items_item">
                            <img src="./media/bodybuild.png" class="plus_main_items_item_img"></img>
                            <div class="plus_main_items_item_text">
                                <div class="plus_main_items_item_text_title">Высокая прочность,
                                    жёсткость и надёжность
                                </div>
                                <div class="plus_main_items_item_text_descr">
                                    По прочности соединение с помощью
                                    краб-системы ничем не уступает сварке
                                </div>

                            </div>
                        </div>
                        <div class="plus_main_items_item">
                            <img src="./media/cycle.png" class="plus_main_items_item_img"></img>
                            <div class="plus_main_items_item_text">
                                <div class="plus_main_items_item_text_title">Возможность многоразового
                                    использования
                                </div>
                                <div class="plus_main_items_item_text_descr">
                                    Система соединения позволяет перестроить
                                    конструкцию – уменьшить, увеличить размеры
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="double">
                        <div class="plus_main_items_item">
                            <img src="./media/piggy.png" class="plus_main_items_item_img"></img>
                            <div class="plus_main_items_item_text">
                                <div class="plus_main_items_item_text_title">Низкая стоимость
                                </div>
                                <div class="plus_main_items_item_text_descr">
                                    Цена конструкции относительна низка, так как:
                                    <br>
                                    • Вам не нужно использовать сварочный аппарат;
                                    <br>
                                    • работу Вы можете сделать своими руками
                                </div>

                            </div>
                        </div>
                        <div class="plus_main_items_item">
                            <img src="./media/montage.png" class="plus_main_items_item_img"></img>
                            <div class="plus_main_items_item_text">
                                <div class="plus_main_items_item_text_title">Простота монтажа
                                </div>
                                <div class="plus_main_items_item_text_descr">
                                    Для выполнения работ Вам не требуется
                                    специальных знаний, Краб-система
                                    закрепляется при помощи болтов и гаек
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>


    <section class="goods">
        <div class="container">
            <div class="goods_main">
                <div class="reasons_main_title">
                    ВСЕГДА В НАЛИЧИИ
                </div>
                <div class="goods_main_items">
                    <div class="goods_main_items_item">
                        <img src="./media/T-crab.png" alt="" class="goods_main_items_item_img">
                        <div class="goods_main_items_item_title">
                            Т-образная краб-система 20х20
                        </div>
                        <div class="goods_main_items_item_row">
                            <div class="goods_main_items_item_row_rub">
                                20 руб/комп
                            </div>
                            <div class="goods_main_items_item_row_count">
                                <div class="goods_main_items_item_row_count_num">0</div>
                                комп.
                            </div>
                        </div>
                        <div class="goods_main_items_item_btn">
                            <div class="goods_main_items_item_btn_b">
                                Заказать
                            </div>
                        </div>
                    </div>
                    <div class="goods_main_items_item">
                        <img src="./media/T-crab.png" alt="" class="goods_main_items_item_img">
                        <div class="goods_main_items_item_title">
                            Т-образная краб-система 20х20
                        </div>
                        <div class="goods_main_items_item_row">
                            <div class="goods_main_items_item_row_rub">
                                20 руб/комп
                            </div>
                            <div class="goods_main_items_item_row_count">
                                <div class="goods_main_items_item_row_count_num">0</div>
                                комп.
                            </div>
                        </div>
                        <div class="goods_main_items_item_btn">
                            <div class="goods_main_items_item_btn_b">
                                Заказать
                            </div>
                        </div>
                    </div>
                    <div class="goods_main_items_item">
                        <img src="./media/T-crab.png" alt="" class="goods_main_items_item_img">
                        <div class="goods_main_items_item_title">
                            Т-образная краб-система 20х20
                        </div>
                        <div class="goods_main_items_item_row">
                            <div class="goods_main_items_item_row_rub">
                                20 руб/комп
                            </div>
                            <div class="goods_main_items_item_row_count">
                                <div class="goods_main_items_item_row_count_num">0</div>
                                комп.
                            </div>
                        </div>
                        <div class="goods_main_items_item_btn">
                            <div class="goods_main_items_item_btn_b">
                                Заказать
                            </div>
                        </div>
                    </div>
                    <div class="goods_main_items_item">
                        <img src="./media/T-crab.png" alt="" class="goods_main_items_item_img">
                        <div class="goods_main_items_item_title">
                            Т-образная краб-система 20х20
                        </div>
                        <div class="goods_main_items_item_row">
                            <div class="goods_main_items_item_row_rub">
                                20 руб/комп
                            </div>
                            <div class="goods_main_items_item_row_count">
                                <div class="goods_main_items_item_row_count_num">0</div>
                                комп.
                            </div>
                        </div>
                        <div class="goods_main_items_item_btn">
                            <div class="goods_main_items_item_btn_b">
                                Заказать
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="reasons">
        <div class="container">
            <div class="reasons_main">
                <div class="reasons_main_title">
                    Почему мы?
                </div>
                <div class="reasons_main_items">
                    <div class="reasons_main_items_item">
                        <img src="./media/factory.png" alt="" class="reasons_main_items_item_img">
                        <div class="double2">
                            <div class="reasons_main_items_item_title">
                                Собственное
                                производство
                            </div>
                            <div class="reasons_main_items_item_text">
                                Мы изготавливаем элементы краб-системы на собственном производстве в Вологде, уделяя особое
                                внимание качеству.
                            </div>
                        </div>
                    </div>
                    <div class="reasons_main_items_item">
                        <img src="./media/truck.png" alt="" class="reasons_main_items_item_img">
                        <div class="double2">
                            <div class="reasons_main_items_item_title">
                                Доставка
                                по всей России
                            </div>
                            <div class="reasons_main_items_item_text">
                                Мы осуществляем
                                доставку нашей продукции
                                по всей России.
                            </div>
                        </div>
                    </div>
                    <div class="reasons_main_items_item">
                        <img src="./media/rub.png" alt="" class="reasons_main_items_item_img">
                        <div class="double2">
                            <div class="reasons_main_items_item_title">
                            Доступные
                            цены
                        </div>
                        <div class="reasons_main_items_item_text">
                            Так как мы являемся производителем, мы
                            предлагаем нашу продукцию
                            без лишних наценок.
                        </div></div>
                    </div>
                    <div class="reasons_main_items_item">
                        <img src="./media/like.png" alt="" class="reasons_main_items_item_img">
                        <div class="double2">
                            <div class="reasons_main_items_item_title">
                                Гарантия
                                качества
                            </div>
                            <div class="reasons_main_items_item_text">
                                Мы уделяем особое внимание качеству нашей продукции и дорожим нашими клиентами.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="video">
        <div class="container">
            <div class="video_main">
                <div class="reasons_main_title">
                    наше производство
                </div>
                <video class="video_main_v" autoplay loop muted src="./media/video.mp4" controls
                    poster="./media/video.png">
                    Sorry, your browser doesn't support embedded videos,
                    but don't worry, you can
                    and watch it with your favorite video player!
                </video>
                <!-- <div class="video_main_v">
                    <div class="video_main_v_pcircl">

                    </div>
                </div> -->
            </div>
        </div>
    </section>

    <section class="form">
        <div class="form_container">
            <div class="form_main">
                <h1 class="form_main_title">Оставить заявку</h1>
                <h2 class="form_main_des">На расчет стоимости</h2>
                <form class="form_main_form">
                    <input class="form_main_form_input" type="text" required="required" placeholder="Номер телефона">
                    <input class="form_main_form_input" type="text" required="required" placeholder="E-mail">
                    <input class="form_main_form_btn" type="button" value="Заказать расчёт цены">
                    <div class="checkbox">
                        <input class="custom-checkbox" type="checkbox" id="color-1" name="color-1" value="indigo">
                        <label for="color-1">Соглашаюсь с условиями передачи данных</label>
                    </div>

                </form>
            </div>
        </div>
    </section>
    <section class="partners">
        <div class="container">
            <div class="partners_main">
                <div class="reasons_main_title">
                    наши партнеры
                </div>
                <div class="partners_main_items">
                    <div class="partners_main_items_item">
                        <img src="./media/severstal.png" alt="" class="partners_main_items_item_img">

                    </div>
                    <div class="partners_main_items_item">
                        <img src="./media/teplit.png" alt="" class="partners_main_items_item_img">

                    </div>
                    <div class="partners_main_items_item">
                        <img src="./media/gf1.png" alt="" class="partners_main_items_item_img">

                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="otz">
        <div class="container">
            <div class="otz_main">
                <div class="reasons_main_title">
                    отзывы наших клиентов
                </div>
                <div class="otz_main_items">
                    <div class="otz_main_items_item">
                        <img src="./media/per_1.png" alt="" class="otz_main_items_item_img">
                        <div class="otz_main_items_item_title">
                            Михаил Викторович
                        </div>
                        <div class="otz_main_items_item_text">
                            Kрaб-сиcтeмa в тeчение нескoльких лeт заcлужилa выcoкую репутацию cpeди дaчникoв и
                            пpоизводителей тeплиц и дpугих малыx дачных сoopужений. Прoстaя и быстpая сбоpка, oтcутствие
                            свapки, оцинкованный кpепеж пoзволяют cоздaвать тeплицы, душeвые, веpcтaки, стeллaжи из
                            крепежа за минимальнoе время.
                        </div>
                    </div>
                    <div class="otz_main_items_item">
                        <img src="./media/per_2.png" alt="" class="otz_main_items_item_img">
                        <div class="otz_main_items_item_title">
                            Светлана Альбертовна
                        </div>
                        <div class="otz_main_items_item_text">
                            Kрaб-сиcтeмa в тeчение нескoльких лeт заcлужилa выcoкую репутацию cpeди дaчникoв и
                            пpоизводителей тeплиц и дpугих малыx дачных сoopужений. Прoстaя и быстpая сбоpка, oтcутствие
                            свapки, оцинкованный кpепеж пoзволяют cоздaвать тeплицы, душeвые, веpcтaки, стeллaжи из
                            крепежа за минимальнoе время.
                        </div>
                    </div>
                    <div class="otz_main_items_item">
                        <img src="./media/per_3.png" alt="" class="otz_main_items_item_img">
                        <div class="otz_main_items_item_title">
                            Андрей Олегович
                        </div>
                        <div class="otz_main_items_item_text">
                            Kрaб-сиcтeмa в тeчение нескoльких лeт заcлужилa выcoкую репутацию cpeди дaчникoв и
                            пpоизводителей тeплиц и дpугих малыx дачных сoopужений. Прoстaя и быстpая сбоpка, oтcутствие
                            свapки, оцинкованный кpепеж пoзволяют cоздaвать тeплицы, душeвые, веpcтaки, стeллaжи из
                            крепежа за минимальнoе время.
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>

    <section class="map">
        <div class="container">
            <div class="map_main">
                <div class="reasons_main_title">
                    мы на карте
                </div>
            </div>
            
        </div>
        <div class="map_yan" id="YMapsID" >
                
        </div>
    </section>
    <header>
        <div class="gap"></div>
        <div class="container">
            <div class="h_up">
                <div class="h_up_logo">

                </div>
                
                <div class="h_up_active">
                    <div class="h_up_active">
                        <div class="h_up_active_icon"></div>
                        <div class="h_up_active_text">
                            <p class="h_up_active_text_name">Москва, ул Ленина, д. 25</p>
                        </div>

                    </div>
                    <div class="h_up_active">
                        <div class="h_up_active_iconp"></div>
                        <div class="h_up_active_text">
                            <a href="tel:+7 985 344 76 46" class="h_up_active_text_name">8-985-344-76-46</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        

    </header>


{% endblock %}
